@import url(https://fonts.googleapis.com/css?family=Instrument+Serif:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Sora:100,200,300,regular,500,600,700,800);

/* Reset and color page */

body,
h1,
p,
span {
	padding: 0%;
	margin: 0%;
	left: 0px;
	top: 0px;
}

body {
	background-color: rgba(255, 252, 249, 1);
}

/* Text settings */

h1 {
	color: rgba(0, 0, 0, 1);
	font-family: Instrument Serif;
	font-style: normal;
	font-weight: 200;
	text-align: left;
	font-size: 36px;
	letter-spacing: 0;
}

p {
	color: rgba(0, 0, 0, 1);
	font-family: Instrument Serif;
	font-style: italic;
	font-weight: 400;
	text-align: left;
	font-size: 28px;
}

a {
	text-decoration: none;
	font-family: Sora;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	font-size: 28px;
	letter-spacing: -1.5px;
}

/* Content styling */

.container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: min-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 48px;
}

.hello {
	position: relative;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}

.world {
	position: relative;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: start;
	column-gap: 1%;
	align-items: start;
}

/* Resize mini earth*/
.globe_emoji {
	width: 36px;
	height: 36px;
}

.paragraph {
	width: 100%;
	height: auto;
}

.stack_buttons {
	width: 110%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 24px;
	justify-content: center;
	align-items: center;
}

.first_row {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.second_row {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.footer_text{
	color: rgb(0, 0, 0);
	font-family: Sora;
	font-size: 16px;
	font-weight: 200;
	letter-spacing: -0.5px;
}

.footer_text:hover{
	text-decoration: underline;
}

/* Button design */

.button {
	padding: 18px;
	border-radius: 18px;
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: row;
	gap: 12px;
	justify-content: center;
	align-items: center;
}

.github {
	background: linear-gradient(rgb(156, 153, 169) 0%, rgb(73, 70, 83) 100%);
	color: rgb(255, 255, 255);
}

.dribbble {
	background: linear-gradient(rgb(255, 213, 243) 0%, rgb(255, 163, 229) 100%);
	color: rgb(255, 30, 175);
}

.mail {
	background: linear-gradient(rgb(255, 233, 213) 0%, rgb(255, 189, 128) 100%);
	color: rgb(255, 90, 30);
}

.linkedin {
	background: linear-gradient(rgb(223, 219, 255) 0%, rgb(138, 122, 255) 100%);
	color: rgb(40, 0, 170);
}

.curriculum {
	background: linear-gradient(rgb(214, 255, 213) 0%, rgb(140, 255, 138) 100%);
	color: rgb(50, 140, 0);
}