/* Light mode scheme */
:root {
    --background: linear-gradient(120deg, rgb(255, 255, 255) 0%, rgb(255, 240, 220) 100%);
    --monochrome: rgb(0, 0, 0);
    --cursor-blur: linear-gradient(-20deg, #7028e4 0%, #e5b2ca 100%);

    /* Icons homepage colors */
    --github-color: rgb(0, 0, 0);
    --dribbble-color: rgb(255, 30, 175);
    --linkedin-color: rgb(40, 0, 170);
    --contact-color: rgb(255, 90, 30);

    /* Nav colors */
    --navicons-home: rgb(255, 72, 72);
    --navicons-work: rgb(72, 200, 255);
    --navicons-color: rgb(69, 69, 69);
}

/* Dark mode scheme */
[data-theme="dark"] {
    --background: url(https://github.com/nicoth-in/Dark-Space-Theme/blob/master/img/background.gif?raw=true);
    --monochrome: rgb(255, 255, 255);
    --cursor-blur: linear-gradient(-20deg, #7028e4 0%, #e5b2ca 100%);
    
    /* Icons homepage colors */
    --github-color: rgb(255, 255, 255);
    --dribbble-color: rgb(255, 255, 255);
    --linkedin-color: rgb(255, 255, 255);
    --contact-color: rgb(255, 255, 255);
    
    /* Nav colors */
    --navicons-color: rgb(210, 210, 210);
}